div #container-notas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem 0;
}

div .card-nota {
  display: grid;

  grid-template-columns: 74% 13% 13%;
  grid-template-rows: 1.5rem 1.25rem 1fr;
  grid-row-gap: 1rem;

  height: auto;
  padding: 1.5rem;

  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

h1.titulo-card {
  grid-column: 1/2;
  grid-row: 1/2;

  height: auto;
  font-size: 1.25rem;
  font-weight: 900;
}

p.data-card{
  grid-column: 1 / 4;
  grid-row: 2/3;

  height: auto;
  width: auto;

  padding: .25rem 0;
  font-size: 0.95rem
}

p.conteudo-card {
  grid-column: 1/4;
  grid-row: 3/4;

  height: auto;
  padding: .25rem 0 0;
  text-align: left;
  font-size: 1.05rem;
}

p.nota:nth-child(4n) {
  margin-right: 0;
}

i.fa-trash,
i.fa-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}

i.fa-edit {
  grid-column: 2/2;

  font-size: 1.05rem;

  border: none 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: .75rem;
}

i.fa-trash {
  grid-column: 3/3;

  font-size: 1.05rem;

  border: none 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: .75rem;

}