body {
  /* width: 100vw; */
  background: #D3E3FC;
  font-family: "Roboto", serif;
  font-weight: 400;
}

div.container {

  margin: 2rem 3.5rem 3.5rem;
}

section.funcionalidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2rem;
}